<!-- Affichage de la liste des passagers -->
<mat-grid-list *ngIf="checked" class="wrapper" cols="4" rowHeight="2:1">
    <mat-grid-tile >
        <h1>Photo</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Email</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Classe</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Bagages</h1>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="!checked" class="wrapper" cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <h1>Email</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Classe</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Bagages</h1>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="passagers">
    <mat-slide-toggle [(ngModel)]="checked">
        Afficher photos
    </mat-slide-toggle>
    <app-passager *ngFor="let passager of passagers" [passager]="passager" [afficherPhotos]="checked"></app-passager>
</div>

<div *ngIf="!passagers">
    <p>Aucun passagers n'a été trouvé.</p>
</div>


