<!-- Affichage d'un passager -->
<mat-grid-list class="wrapper" *ngIf="afficherPhotos" cols="4" rowHeight="2:1">
    <mat-grid-tile *ngIf="afficherPhotos">
        <img *ngIf="afficherPhotos" src="{{ passager.image }}"/>
    </mat-grid-tile>
    <mat-grid-tile>
        <p matTooltip={{passager.email}}>{{ passager.nom }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <div [appClasseVol]="passager.classeVol">{{ passager.classeVol }}</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="icon" [appClasseBagages]="{classeVol: passager.classeVol, nbBagagesSoute: passager.nbBagagesSoute}">
            <mat-icon matBadge="{{passager.nbBagagesSoute}}" matBadgeColor="primary">work</mat-icon>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="wrapper" *ngIf="!afficherPhotos" cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <p matTooltip={{passager.email}}>{{ passager.nom }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <div [appClasseVol]="passager.classeVol">{{ passager.classeVol }}</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="icon" [appClasseBagages]="{classeVol: passager.classeVol, nbBagagesSoute: passager.nbBagagesSoute}">
            <mat-icon matBadge="{{passager.nbBagagesSoute}}" matBadgeColor="primary">work</mat-icon>
        </div>
    </mat-grid-tile>
</mat-grid-list>