<div class="container">
  <div class="title"><h1>{{ type | uppercase }}</h1></div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres (filtresEvent)="onFiltresEvent($event)"></app-filtres>
      </div>
      <div class="bottom">
        <app-liste-vols [type]="type" [vols]="vols" (clickVol)="setSelectedVol($event)"></app-liste-vols>
      </div>
    </div>
    <div class="right">
      <app-liste-passagers *ngIf="selectedVol" [passagers]="passagers"></app-liste-passagers>
    </div>
  </div>
</div>

